.sideBar {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  margin: 12px;
  width: 30%;
  background-color: #000000;
  color: #ffffff;
  z-index: 1 !important;
  padding: 6px;
  font-size: 1em;
}
