.side-bar {
  display: inline-block;
  position: absolute;
  /* top: 4; */
  /* left: 0; */
  margin: 50px;
  width: 450px;
  background-color: rgba(60, 60, 60, 0.7);
  color: #ffffff;
  z-index: 1 !important;
  padding: 6px;
  padding-top: 20px;
  font-size: 1em;
  text-align: center;
}

.each-check-box {
  display: block;
  transform: scale(0.5);
  line-height: 1;
}
